body {
    font-family: Arial, sans-serif;
    background: linear-gradient( 85.2deg,  rgb(14, 13, 14) 7.5%, rgb(0, 0, 0) 88.7% );
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }
    .container {
     width: 350px;
     background: #bbb;
     border-radius: 10px;
     padding: 20px;
    text-align: center;
    }
    .form-container {
    text-align: left;
    }
    .form-container label {
    display: block;
    margin-bottom: 5px;
    }
    .form-container input {
     width: calc(100% - 22px);
     padding: 10px;
     margin-bottom: 10px;
     border: none;
     border-radius: 5px;
    }
    .form-container input[type="file"] {
     padding: 0;
    }
    .form-container button {
     width: 100%;
     padding: 10px;
     border: none;
     background: #000;
     color: #fff;
     font-size: 16px;
     border-radius: 5px;
     cursor: pointer;
    }
    
@media (max-width: 540px) {
    body {
        font-family: Arial, sans-serif;
        background: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        }
        .container {
         width: 350px;
         background: #333;
         border-radius: 10px;
         padding: 20px;
        text-align: center;
        }
        .form-container {
        text-align: left;
        }
        .form-container label {
        display: block;
        margin-bottom: 5px;
        }
        .form-container input {
         width: calc(100% - 22px);
         padding: 10px;
         margin-bottom: 10px;
         border: none;
         border-radius: 5px;
        }
        .form-container input[type="file"] {
         padding: 0;
        }
        .form-container button {
         width: 100%;
         padding: 10px;
         border: none;
         background: #000;
         color: #fff;
         font-size: 16px;
         border-radius: 5px;
         cursor: pointer;
        }
        
   
}

@media (max-width: 320px) {
    body {
        font-family: Arial, sans-serif;
        background: #000 ;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        }
        .container {
         width: 350px;
         background: #333;
         border-radius: 10px;
         padding: 20px;
        text-align: center;
        }
        .form-container {
        text-align: left;
        }
        .form-container label {
        display: block;
        margin-bottom: 5px;
        }
        .form-container input {
         width: calc(100% - 22px);
         padding: 10px;
         margin-bottom: 10px;
         border: none;
         border-radius: 5px;
        }
        .form-container input[type="file"] {
         padding: 0;
        }
        .form-container button {
         width: 100%;
         padding: 10px;
         border: none;
         background: #000;
         color: #fff;
         font-size: 16px;
         border-radius: 5px;
         cursor: pointer;
        }
        
}
