body {
    font-family: Arial, sans-serif;
    background:black;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    width: 90%;
    max-width: 400px;
    background: #000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.header div {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}

.header div h2 {
    margin: 0;
    font-size: 1rem;
}

.header div p {
    margin: 0;
    font-size: 0.75rem;
    color: #ff9900;
}

.tasks {
    margin-top: 100px;
}

.task-btn {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.task-btn:hover {
    background: #444;
}

.hidden {
    display: none;
}

.score {
    font-size: 1.5rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.level p {
    margin: 0;
    font-size: 0.875rem;
}

.level .progress-bar {
    width: 70%;
    background: #555;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.level .progress-bar div {
    background: #00cc00;
    height: 100%;
    width: 0;
    position: absolute;
    transition: width 0.3s;
}
